.item-form {
  position: relative;
  font-size: 1rem;
}
.item-form input[type='text'] {
  font-size: 1rem;
}
.item-form input[type='text']:focus + .autocomplete-hints {
  border-color: #33a3fe;
  border-top-color: #b9b9b9;
}
.item-state-search .btn-icon:before {
  content: '⚲';
  transform: rotateZ(-45deg);
  display: inline-block;
}
.item-state-add .btn-icon:before {
  content: '+';
}
.item-state-filled .btn-icon:before {
  content: '×';
}
.item-state-select .btn-icon:hover {
  opacity: 0.2;
  cursor: default;
}
.item-state-select .btn-icon:before {
  content: '⇙';
}
.item-state-loading .btn-icon:before {
  content: '\21BB';
}
.btn-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 30px;
  font-size: 24px;
  line-height: 100%;
}
.btn-icon:before {
  line-height: 100%;
  vertical-align: text-top;
  height: 100%;
}
.autocomplete-hints {
  z-index: 10000;
  top: 100%;
  background: #ffffff;
  border: 1px solid #b9b9b9;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-top: -1px;
  max-width: 100%;
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;
}
.autocomplete-hints > .autocomplete-hint {
  padding: 5px 10px;
  cursor: pointer;
}
.autocomplete-hints > .autocomplete-hint:hover {
  background: #e5e5e5;
}
.autocomplete-hints > .autocomplete-hint.autocomplete-selected {
  background: #e5e5e5;
}
.autocomplete-hints strong {
  color: #33a3fe;
  font-weight: normal;
}
